body {
  width: 200px;
  padding: 10px;
}

h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

#cookieList {
  margin-bottom: 10px;
}

#badge {
  color: white;
  background-color: red;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
}
